**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
.idea
*.exe
~
.vscode/
*.h
*.so
*.dll
*.dylib
city.mmdb
titan-edge
!titan-edge/
titan-candidate
!titan-candidate/
titan-scheduler
!titan-scheduler/
titan-locator
!titan-locator/
titan-l3/